@{
    ViewBag.Title = "Página principal";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Elaborado por el grupo 3: Oscullo Bryan y Rojas Christopher</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Para empezar</h2>
        <p>
            Esta página fue diseñada con el fin de reaalizar un pedido, para el cual podemos
            registrar un cliente que realizará el pedido, un producto del que se hará el 
            pedido, un artesano que crea el proucto, un stock que verifica cuanto de un
            producto posee un artesano y el pedido en si
        </p>
    </div>
    <div class="col-md-4">
        <h2>Recomendacioness</h2>
        <p>Si se desa acceder a esta página, tendrá que realizarlo desde la página principal de la CAP</p>
    </div>
    <div class="col-md-4">
        <h2>Características</h2>
        <p>Debido a ser un requisito propiamente de desarrollo, esta página solo funcionará de manera local</p>
    </div>
</div>